*{padding:0;margin:0;box-sizing: border-box;}
button{border:none;background:none}
body{
	background: #EEEEEB;
	font-family: "Helvetica Neue", Helvetica, Arial, STHeiti-Light, STHeiti-Medium, "Microsoft YaHei","Microsoft JhengHei",STHeiti,MingLiu;
}
.list-page{
	margin:10px auto;
	& .waterfall{
		position: relative;
	    margin: 0 auto;
		& .item{
			cursor: pointer;
			width: 280px;
			background:#fff;
		    text-align: center;
		    border: none;
		    border-radius: 0px;
		    box-shadow: 0 1px 3px rgba(0,0,0,.3);
		    opacity: 0;
		    &.active{
		    	opacity: 1;
		    }
			& img{
				width: 280px;
				padding: 10px;
			}
			& .title{
				border-bottom:1px solid #F2F2F2;
			    color: #333;
    			background-color: #FAFAFA;
				line-height: 1;
    			margin: 0;
    			padding:10px;
    			text-align:left;
    			& .can-play{
				    display: block;
				    color: #34e234;
				    padding-top:10px;
				}
			}

		}
	}
	& .top{
	    position: fixed;
	    right: 20px;
	    bottom: 20px;
	    border: 1px solid #a9a8a8;
	    color: #a9a8a8;
	    padding: 5px 10px;
	    cursor: pointer;
	}
}