.Loader{
    &>.back-home{
        position: fixed;
        right: 10px;
        color: #fff;
        background-color: #67c23a;
        border-color: #67c23a;
        border-radius: 4px;
        padding: 12px 20px;
        cursor: pointer;
        top:10px;
        &:hover{
            background: #85ce61;
            border-color: #85ce61;
            color: #fff;
        }
    }
}