.blue{
    width: 200px;
    height: 200px;
    background: blue;
    position: absolute;
    top: 0;
    transition: all 0.1s;
}
.red{
    width: 200px;
    height: 200px;
    background: red;
    position: absolute;
    left: 210px;
}