.home{
    text-align:center;
    & .block{
        width: 200px;
        height: 200px;
        display:inline-block;
        margin-right:50px;
        margin-top:20%;
        cursor: pointer;
        line-height: 200px;
        color: #fff;
        font-size: 140px;
    }
}
.av{
    background: #fd3b3b;
}
.live{
    background: #4141ff;
}
.setting{
    background: #15b715;
}